<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>

    <a href="/">|HOME|</a>
    <a href="/user/profile">|MY PROFILE|</a>
    <a href="/about">|ABOUT|</a>
    <a href="/auth/google">|LOG IN|</a>
    <a href="/logout">|LOG OUT|</a>

  </nav>
  <br><br>

  <body>
    <h1>Employee Communication Board</h1>
    <br><br>
    <p>Welcome to the <a href="/"><%= title %></a>. Use the links at the top to navigate this website.</p>
  </body>
</html>

