<%- include('../partials/header') %>

<body>
    <h2>User page</h2>

    <h3>Quick Links:</h3>

    <a href="/user/posts">All my posts</a>
    <br><br>
    <a href="/public">All public posts</a>
    <br><br>
    
</body>
</html>