<%- include('../partials/header') %>

<body>
<h2>Post Page</h2>

<br>


<%= post.userPost %> | created on <%= post.createdAt.toLocaleDateString() %> by <%= user.name %>

<br> 
<div>----------------------------------------------------------</div>
<h3>Comments: (feature not available yet)</h3>
<br>

</body>

</html>